body {
	background-color:#555;
	color:#fff;
}
#friends{
	width: 200px;
	float:left;
}

#pictures{
	width: 100%;
}

ul{
	list-style: none;
}

#friends li.highlight
{
	background-color: #ddd; 
	color:#000;
}

#friends li {
	background-color: #000;
	vertical-align: middle; 
	padding: 8px; 
	border-radius: 5px; 
	margin-top: 5px;
	color:#fff;
	cursor: pointer;
}

#friends input{
	display: none;
}